name: Build
on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 16
      - uses: actions/checkout@v3
        with:
          ref: dist
          path: dist
      - name: Clean
        working-directory: ./dist
        run: |
          git rm -rf .
          git clean -fxd
      - name: Build
        run: |
          npm install
          npm run all
          cp action.yml dist/action.yml
      - name: Release
        working-directory: ./dist
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
          git add . --force
          git commit --allow-empty -m "Update $GITHUB_SHA"
          git tag -f -a -m "Update $GITHUB_SHA" v2
          git push
          git push --tags -f
